<div th:fragment="html">
    <script>
        $(function(){

            var data4Vue = {
                user: {},
                showlogin: false,
                uri:'carts',
                list_cart: null,
                sale_attr_list : null,
                sum: null,
                cartSelectedCount: null
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri;
                        axios.get(url).then(function(response) {
                            var result = response.data;
                            vue.list_cart = result.data.list_cart;
                            vue.sale_attr_list = result.data.sale_attr_list;
                            vue.sum = result.data.sum;
                            vue.cartSelectedCount = result.data.cartSelectedCount;
                        });
                    },
                    change_cart:function(cart){
                        if(cart.shfxz=='1'){
                            cart.shfxz='0'
                        }else {
                            cart.shfxz='1'
                        }
                        var url = 'cart';
                        axios.put(url, cart).then(function(response){
                            var result = response.data;
                            vue.list_cart = result.data.list_cart;
                            vue.sum = result.data.sum;
                            vue.cartSelectedCount = result.data.cartSelectedCount;
                        });
                    },
                    increCart:function(cart) {
                        cart.shfxz = '1';
                        cart.tjshl = cart.tjshl + 1;
                        var url = 'cart';
                        axios.put(url, cart).then(function(response){
                            var result = response.data;
                            vue.list_cart = result.data.list_cart;
                            vue.sum = result.data.sum;
                        });
                    },
                    decreCart:function(cart) {
                        cart.shfxz = '1';
                        if(cart.tjshl>1){
                            cart.tjshl = cart.tjshl - 1;
                        }else {
                            cart.tjshl = 1;
                        }
                        var url = 'cart';
                        axios.put(url, cart).then(function(response){
                            var result = response.data;
                            vue.list_cart = result.data.list_cart;
                            vue.sum = result.data.sum;
                        });
                    },
                    del_cart:function(id) {
                        var url = 'cart/' + id;
                        axios.delete(url).then(function(res) {
                            location.reload()
                        });
                    },
                    checkorder:function(){
                        var url = 'check-user-login';
                        if(vue.cartSelectedCount == null || vue.cartSelectedCount == 0){
                            alert("请选择商品")
                            return;
                        }
                        axios.get(url).then(function(res) {
                            if(res.data.code == 0){
                                //用户已登录
                                vue.showlogin = false;
                            }else {
                                vue.showlogin = true;
                            }
                        })
                    }
                }
            });

        })
    </script>

    <div class="cartDiv">
        <div class="cartProductList">
            <table class="cartProductTable">
                <thead>
                    <tr>
                        <th class="selectAndImage">
                                <img selectit="false" class="selectAllItem" src="img/site/cartNotSelected.png">
                        全选

                        </th>
                        <th>商品信息</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th width="120px">金额</th>
                        <th class="operation">操作</th>
                    </tr>
                </thead>
                <tbody>
                        <tr  class="cartProductItemTR" v-for="cart,index in list_cart">
                            <td>
                                <input type="checkbox" v-model="cart.shfxz==='1'" @click="change_cart(cart)">
                                <img class="cartProductImg"  :src="cart.shp_tp">
                            </td>
                            <td>
                                <div class="cartProductLinkOutDiv">
                                    <a :href="'goto_sku_detail?sku_id='+cart.sku_id" class="cartProductLink">{{cart.sku_mch}}</a>
                                    <div v-if="sale_attr_list[index]">
                                         <span style='color:#ccc'>颜色：{{sale_attr_list[index].color.shp_ys}}</span><br>
                                         <span style='color:#ccc'>尺码：{{sale_attr_list[index].version.shp_bb}}</span>
                                    </div>
                                    <div v-else>
                                         <!--<span style='color:#ccc'>颜色：无</span><br>
                                         <span style='color:#ccc'>尺码：无</span>-->
                                    </div>
                                    <div class="cartProductLinkInnerDiv">
                                        <img src="img/site/creditcard.png" title="支持信用卡支付">
                                        <img src="img/site/7day.png" title="消费者保障服务,承诺7天退货">
                                        <img src="img/site/promise.png" title="消费者保障服务,承诺如实描述">
                                    </div>
                                </div>

                            </td>
                            <td>
                                <span class="cartProductItemOringalPrice">￥{{cart.sku_jg|formatMoneyFilter}}</span>
                                <span  class="cartProductItemPromotionPrice">￥{{cart.sku_jg|formatMoneyFilter}}</span>

                            </td>
                            <td>

                                <div class="cartProductChangeNumberDiv">
                                    <a  class="numberMinus" href="#nowhere" @click="decreCart(cart)">-</a>
                                    <input   class="orderItemNumberSetting" autocomplete="off" :value="cart.tjshl">
                                    <a  class="numberPlus" href="#nowhere" @click="increCart(cart)">+</a>
                                </div>

                             </td>
                            <td >
                                <span class="cartProductItemSmallSumPrice"   >
                                    ￥ {{cart.hj|formatMoneyFilter}}
                                </span>

                            </td>
                            <td>
                                <a class="deleteOrderItem"   href="#nowhere" @click="del_cart(cart.sku_id)">删除</a>
                            </td>
                        </tr>
                </tbody>

            </table>
        </div>

        <div class="cartFoot">

            <div class="pull-right">
                <span>已选商品 <span class="cartSumNumber" >{{cartSelectedCount}}</span> 件</span>

                <span>合计 (不含运费): </span>
                <span class="cartSumPrice" >￥{{sum}}</span>
                <button class="createOrderButton" @click="checkorder">结  算</button>
            </div>

        </div>

    </div>
</div>