<div class th:fragment="html"> 
	<script>
		$(function(){
		    var flbh2 = getUrlParms('flbh2');
			var keyword = getUrlParms("keyword");
	        var data4Vue = {
	        		uri:'foresearch',
	        		attr_uri: 'attr-list',
	        		products:[],
	        		list_attr: [],
	        		selected_value_list: [],
	        		selected_a_indexs: []
	        };
	        //ViewModel
	        var vue = new Vue({
	            el: '#workingArea',
	            data: data4Vue,
	            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
	                this.getAttrList()
	            	//this.load();
	            },        
	            methods: {
	            	load:function(){
	                    var url =  this.uri+"?keyword="+keyword;
	                    axios.post(url).then(function(response) {
	            	        vue.products = response.data;
	                        vue.$nextTick(function(){
	        	            	linkDefaultActions();
	                        })
	                    });
	            	},
	            	getAttrList:function() {
	            	    var url = this.attr_uri + "/" + flbh2;
	            	    axios.get(url).then(function(response) {
	            	        vue.list_attr = response.data.data;
	            	        console.log(vue.list_attr);
	            	    })
	            	},
	            	get_list_by_attr:function(aindex,val) {
	            	  console.log(val);
	            	  vue.list_attr[aindex].shfqy = '0'
	            	  vue.selected_a_indexs.push(aindex)
	            	  vue.selected_value_list.push(val)
	            	},
	            	removeValue:function(index){
	            	    vue.selected_value_list.splice(index,1)
	            	    var aindex = vue.selected_a_indexs[index]
	            	    vue.list_attr[aindex].shfqy = '1'
	            	    vue.selected_a_indexs.splice(index,1)
	            	}
	            }
	        });       			
		})
	</script>

    <div th:replace="include/attrList::html" ></div>
	<!--<div id="searchResult">
		<div class="searchResultDiv">
			<div th:replace="include/skuList::html" ></div>
		</div>
	</div>-->
</div>
