<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxf.mall.mapper.AttrMapper">
	<resultMap id="attrList" type="com.hxf.mall.bean.OBJECT_T_MALL_ATTR" autoMapping="true">
		<result column="a_id" property="id"/>
		<collection property="list_value" ofType="com.hxf.mall.bean.T_MALL_VALUE" autoMapping="true">
			<result column="b_id" property="id"/>

		</collection>
	</resultMap>

    <select id="select_attr_list" resultMap="attrList" parameterType="int">
		select a.id as a_id, a.* ,b.id as b_id ,b.*
		from T_MALL_ATTR a left join T_MALL_VALUE b
		on a.id=b.shxm_id
		where a.flbh2=#{flbh2}
	</select>
</mapper>