<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxf.mall.mapper.CategoryMapper">
    <select id="list_class1"  resultType="T_MALL_CLASS_1">
        select * from t_mall_class_1
    </select>

    <select id="list_cate" resultMap="cateMap">
        SELECT a.id aid,a.* ,b.id bid,b.* FROM t_mall_class_1 a LEFT JOIN t_mall_class_2 b
        ON a.id=b.flbh1
    </select>
    <resultMap id="cateMap" type="com.hxf.mall.model.MODEL_T_MALL_CLASS1" autoMapping="true">
        <id column="aid" property="id"></id>
        <collection property="list_class2" ofType="T_MALL_CLASS_2" autoMapping="true">
            <id property="id" column="bid"></id>
        </collection>
    </resultMap>
</mapper>