<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxf.mall.mapper.ItemMapper">
	<select id="select_list_sku_by_spu" parameterType="int" resultType="com.hxf.mall.bean.T_MALL_SKU">
		SELECT * FROM T_MALL_SKU WHERE SHP_ID = #{spu_id}
	</select>

	<select id="select_detail_sku" parameterType="int"
			resultMap="select_detail_sku_map">
		SELECT
		sku.id as sku_id,
		spu.id as spu_id,
		img.id as img_id,
		attr.shxm_mch as shxm_mch,
		CONCAT(val.shxzh,val.shxzh_mch) as
		shxzh_mch,
		sku.*,spu.*,img.*
		FROM
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_product_image img,
		t_mall_attr attr,
		t_mall_value val,
		t_mall_sku_attr_value av
		WHERE
		sku.shp_id = spu.Id
		AND spu.Id = img.shp_id
		AND sku.Id = av.sku_id
		AND av.shxm_id = attr.Id
		AND av.shxzh_id = val.Id
		and sku.Id = #{sku_id}

	</select>

	<resultMap id="select_detail_sku_map" type="com.hxf.mall.bean.DETAIL_T_MALL_SKU" autoMapping="true">
		<id property="id" column="sku_id"></id>
		<association property="spu" javaType="com.hxf.mall.bean.T_MALL_PRODUCT" autoMapping="true">
			<id column="spu_id" property="id"></id>
		</association>
		<collection property="list_image" ofType="com.hxf.mall.bean.T_MALL_PRODUCT_IMAGE" autoMapping="true">
			<id property="id" column="img_id"></id>
		</collection>
		<collection property="list_av_name" ofType="com.hxf.mall.bean.OBJECT_AV_NAME" autoMapping="true">
		</collection>
	</resultMap>

	<select id="select_color_list" parameterType="int" resultType="com.hxf.mall.bean.T_MALL_PRODUCT_COLOR">
		SELECT * FROM t_mall_product_color
		WHERE
		shp_id=#{spu_id}
	</select>

	<select id="select_version_list" parameterType="int" resultType="com.hxf.mall.bean.T_MALL_PRODUCT_VERSION">
		SELECT * FROM t_mall_product_version
		WHERE
		shp_id=#{spu_id}
	</select>

	<select id="select_skuId" parameterType="Map" resultType="com.hxf.mall.bean.T_MALL_PRODUCT_SKU_INFO">
		SELECT * FROM t_mall_product_sku_info
		WHERE
		shp_ys=#{color} and shp_bb=#{version}
	</select>
</mapper>