<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxf.mall.mapper.UserMapper">
    <select id="select_user_by_yhmch" parameterType="T_MALL_USER_ACCOUNT" resultType="T_MALL_USER_ACCOUNT">
        SELECT * FROM  t_mall_user_account WHERE yh_mch=#{yh_mch}
     </select>

    <insert id="insert_user" parameterType="T_MALL_USER_ACCOUNT">
        INSERT INTO t_mall_user_account (yh_mch,yh_mm) VALUES (#{yh_mch},#{yh_mm})
    </insert>
</mapper>