<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息管理系统界面</title>
<script language="JavaScript" src="js/jquery/2.0.0/jquery.min.js"></script>
<script src="js/vue/vue.js"></script>
<script src="js/axios/0.17.1/axios.min.js"></script>
</head>
<body>
<script>
    $(function(){
        var data4Vue = {
            adduri:'goto_spu_add',
            category1: [],
            category2: [],
            tm: [],
            flbh1: '',
            flbh2: '',
            pp_id: ''
        };


        //ViewModel
        var vue = new Vue({
            el: '#app',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.listcategory1();
            },
            methods: {
                add:function() {
                    location.href = '/goto_spu_add?flbh1=' + this.flbh1 + '&flbh2=' + this.flbh2 + '&pp_id=' + this.pp_id;
                },
                listcategory1:function() {
                    var url = 'listcategory1';
                    axios.get(url).then(function(response) {
                         vue.category1 = response.data;
                    });
                },
                listchildcategory:function(flbh1) {
                    var url = 'listcategory2/' + flbh1;
                    axios.get(url).then(function(response) {
                         vue.category2 = response.data;
                         console.log(this);<!--回调函数里的this指代其调用者，这里是 window 对象 -->
                         <!-- this.category2 = response.data;   回调函数里的this不能指代vue对象 -->
                    });
                    var uri = 'listtrademark/' + flbh1;
                    axios.get(uri).then(function(response) {
                         this.tm = response.data;
                         console.log(this);<!--由于使用了bind绑定了该回调函数的调用者，这里this是 vue 对象 -->
                    }.bind(this));
                }
            }
        });
    });
</script>
<div id="app">
    spu商品信息管理
    <hr>
    	一级：<select id="class_1_select" v-model="flbh1" @change="listchildcategory(flbh1)" >     <!--将选中的值建立模型，就能取到值了  -->
    	        <option v-for="(c,index) in category1" :key="index" :value="c.id">{{c.flmch1}}</option>
    	      </select>
    	二级：<select  id="class_2_select" >
    	        <option v-for="(ca,index) in category2" :key="index" :value="ca.id" >{{ca.flmch2}}</option>
               </select>
    	品牌：<select  id="tm_select">
                <option v-for="(t,index) in tm" :key="index" :value="t.id" >{{t.ppmch}}</option>
                </select><br>
    	查询<br>
    	<a href="javascript:;" @click="add">添加</a><br>
    	删除<br>
    	编辑<br></div>
</div>
</body>
</html>
