<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('小红商城')" ></head>
<body>
<script>
    $(function(){
        var data4Vue = {
            bean: {},
            flbh1: '',
            flbh2: '',
            pp_id: '',
            files: []
        };

        //ViewModel
        var vue = new Vue({
            el: '#app',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.bean.flbh1 = [[${spu.flbh1}]];
                this.bean.flbh2 = [[${spu.flbh2}]];
                this.bean.pp_id = [[${spu.pp_id}]];
                console.log(this.bean);
            },
            methods:{
                getFile: function (event) {
                    this.files.push (event.target.files[0]);//多文件上传
                },
                add: function() {
                    var url = "spu";
                    var formData = new FormData();
                    formData.append("spu", JSON.stringify(vue.bean));
                    for(var i = 0; i < this.files.length;i++){//上传多个文件
                        formData.append("files", this.files[i]);
                    }
                    console.log(formData);
                    axios.post(url,formData).then(function(response) {
                        alert("添加成功");
                        location.reload();
                    });
                }
            }
        });
    });
</script>
<div id="app">
        spu信息添加[[${spu.flbh1}]]|[[${spu.flbh2}]]|[(${spu.pp_id})]
    	<hr>
        商品名称：<input name="shp_mch" type="text" v-model="bean.shp_mch"/><br>
        商品描述：<textarea name="shp_msh" rows="10" cols="50" v-model="bean.shp_msh"></textarea><br>
        商品图片：<br>
        <input type="file" name="files" @change="getFile($event)"/><br><!--这种上传方式暂时存在问题，点同一个上传文件按钮，会上传多余的文件 -->
        <input type="file" name="files" @change="getFile($event)"/><br>
        <input type="file" name="files" @change="getFile($event)"/><br>

        <input type="submit" value="提交" @click="add"/>
</div>
</body>
</html>
