<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxf.mall.mapper.AttrMapper">
    <resultMap id="AttrMap" type="com.hxf.mall.to.OBJECT_T_MALL_ATTR" autoMapping="true">
        <!--
			autoMappings
			collection定义关联集合类型的属性的封装规则
			ofType:指定集合里面元素的类型
		-->
        <result column="id" property="id"/>
        <collection property="list_value" ofType="com.hxf.mall.bean.T_MALL_VALUE" autoMapping="true" select="select_value" column="id"><!--使用嵌套查询 -->
            <!-- 定义这个集合中元素的封装规则 -->
        </collection>
    </resultMap>
    
    <select id="select_attr_value_list" resultMap="AttrMap">
        <!-- 由于分页插件PageHelper不支持嵌套结果集，使用嵌套查询的方式才能保证结果正确
        select a.id as a_id, a.* ,v.id as v_id ,v.*
        from t_mall_attr a LEFT JOIN t_mall_value v on a.id=v.shxm_id
        where flbh2=#{flbh2}
        -->
        select * FROM t_mall_attr
        where flbh2=#{flbh2}
    </select>

    <select id="select_value" resultType="T_MALL_VALUE">
        select * FROM t_mall_value
        where shxm_id=#{id}
    </select>

    <insert id="insert_attr_value" parameterType="T_MALL_VALUE">
        INSERT INTO t_mall_value (shxzh,shxzh_mch,shxm_id) VALUES (#{shxzh},#{shxzh_mch},#{shxm_id})
    </insert>

    <delete id="delete_attr">
        DELETE FROM t_mall_attr WHERE id=#{id}
    </delete>

    <delete id="delete_attr_value">
        DELETE FROM t_mall_value WHERE id=#{id}
    </delete>

    <delete id="delete_attr_value_by_shxmid">
        DELETE FROM t_mall_value WHERE shxm_id=#{id}
    </delete>

    <insert id="insert_attr" parameterType="com.hxf.mall.to.OBJECT_T_MALL_ATTR" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_mall_attr (shxm_mch,flbh2) VALUES (#{shxm_mch},#{flbh2})
    </insert>

    <insert id="insert_attr_values" parameterType="T_MALL_VALUE">
        INSERT INTO t_mall_value (shxzh,shxzh_mch,shxm_id) VALUES 
        <foreach item="item" collection="list_value" separator=","><!--使用命名参数传入 -->
            (#{item.shxzh},#{item.shxzh_mch},#{shxid})
        </foreach>
    </insert>
</mapper>