<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxf.mall.mapper.CategoryMapper">
    <select id="list_class1"  resultType="T_MALL_CLASS_1">
        select * from t_mall_class_1
    </select>

    <select id="list_class2"  resultType="T_MALL_CLASS_2">
        select * from t_mall_class_2 where flbh1 = #{flbh1}
    </select>
    <select id="list_tm"  resultType="T_MALL_TRADE_MARK">
        select tm.id id,tm.* from t_mall_trade_mark tm left join t_mall_tm_class tc on tm.id=tc.pp_id where tc.flbh1 = #{flbh1}
    </select>

    <insert id="insert_class1" parameterType="T_MALL_CLASS_1">
        insert into t_mall_class_1 (flmch1) VALUES (#{flmch1})
    </insert>

    <update id="update_class1" parameterType="T_MALL_CLASS_1">
        update t_mall_class_1 set flmch1=#{flmch1} where id=#{id}
    </update>

    <delete id="delete_class1" >
        delete from t_mall_class_1 where id=#{id}
    </delete>

    <insert id="insert_class2" parameterType="T_MALL_CLASS_2">
        insert into t_mall_class_2 (flmch2,flbh1) VALUES (#{flmch2},#{flbh1})
    </insert>

    <update id="update_class2" parameterType="T_MALL_CLASS_1">
        update t_mall_class_2 set flmch2=#{flmch2} where id=#{id}
    </update>

    <delete id="delete_class2" >
        delete from t_mall_class_2 where id=#{id}
    </delete>

    <insert id="insert_tm" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_mall_trade_mark (ppmch) values(#{ppmch})
    </insert>

    <insert id="insert_tm_class" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_mall_tm_class (pp_id,flbh1) values(#{pp_id},#{flbh1})
    </insert>

    <update id="update_tm">
        update t_mall_trade_mark set ppmch=#{ppmch},url=#{url} where id=#{id}
    </update>

</mapper>