<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxf.mall.mapper.SpuMapper">
    <insert id="insert_spu" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="T_MALL_PRODUCT">
        insert into t_mall_product
        (shp_mch,shp_tp,flbh1,flbh2,pp_id,shp_msh)
        values
        (#{shp_mch},#{shp_tp},#{flbh1},#{flbh2},#{pp_id},#{shp_msh})
    </insert>

    <insert id="insert_spu_image" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="T_MALL_PRODUCT_IMAGE">
        insert into t_mall_product_image
        (shp_id,url)
        values
        (#{shp_id},#{url})
    </insert>

    <insert id="insert_imgs"  parameterType="Map">
        insert into t_mall_product_image
        (SHP_ID,URL)
        values
        <foreach item="img" collection="imgs" separator=",">
            (#{shp_id},#{img})
        </foreach>
    </insert>

    <select id="select_spu_list" parameterType="T_MALL_PRODUCT" resultType="T_MALL_PRODUCT">
        select * from t_mall_product
        <where>
            <if test="shp_mch!=null &amp;&amp; shp_mch!=&quot;&quot;">
                shp_mch like concat('%',#{shp_mch},'%')
            </if>
            <if test="flbh1!=null">
                and flbh1=#{flbh1}
            </if>
            <if test="flbh2!=null">
                and flbh2=#{flbh2}
            </if>
            <if test="pp_id!=null">
                and pp_id=#{pp_id}
            </if>
        </where>
    </select>

    <delete id="delete_spu">
        delete from t_mall_product where id=#{id}
    </delete>

    <delete id="delete_img">
        delete from t_mall_product_image where id=#{id}
    </delete>

    <select id="select_spu_img_list" resultType="T_MALL_PRODUCT_IMAGE">
        SELECT * FROM t_mall_product_image WHERE shp_id=#{shp_id}
    </select>

    <select id="select_spu" resultType="T_MALL_PRODUCT">
        SELECT * FROM t_mall_product WHERE id=#{id}
    </select>

    <update id="update_spu" parameterType="T_MALL_PRODUCT">
        update t_mall_product set shp_mch=#{shp_mch},shp_msh=#{shp_msh}
    </update>
</mapper>