<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.agree.mapper.ListMapper">
	<resultMap id="skuList" type="com.agree.bean.OBJECT_T_MALL_SKU" autoMapping="true">
		<result column="b_id" property="id"/>
		<association property="spu" javaType="com.agree.bean.T_MALL_PRODUCT" autoMapping="true">
			<result column="a_id" property="id" />
		</association>
		<association property="tm" javaType="com.agree.bean.T_MALL_TRADE_MARK" autoMapping="true">
			<id column="c_id" property="id"/>
		</association>

	</resultMap>

    <select id="select_list_sku" resultMap="skuList" parameterType="int">
		select a.id as a_id, a.* ,b.id as b_id ,b.*,c.id as c_id ,c.*
		from T_MALL_PRODUCT a,T_MALL_SKU b,T_MALL_TRADE_MARK c
		where a.flbh2=#{flbh2} and a.pp_id=c.id and a.id=b.shp_id
	</select>

	<select id="select_list_sku_by_attr" parameterType="Map" resultMap="skuList">
		select a.id as a_id, a.* ,b.id as b_id ,b.*,c.id as c_id ,c.*
		from T_MALL_PRODUCT a,T_MALL_SKU b,T_MALL_TRADE_MARK c
		where a.flbh2=#{flbh2} and a.pp_id=c.id and a.id=b.shp_id
		${subSql}
	</select>
</mapper>